:root{
    --main-yellow:#ffffff;
    --main-black:#263238;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Playwrite AU SA";
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 110px 20px;
}
.secondhalf{
    background-color:var(--main-yellow);
    color: var(--main-black);
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 0;
}
label{
    display: block;
}
input{
    height: 3rem;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
}
p{
    font-weight: bold;
    font-size: 2rem;
}
a{
    text-decoration:underline;
    color: #263238;
}
button{
    margin: 5px;
    padding: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s,transform 0.3s ;
   }
   button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1); 
   }
img{
    max-width: 100%;
}
.registrationform{
    display: none;
}
.visible{
    display: block;
}
.loginform {
    display: block;
}
.hidden {
    display: none;
}
